.App {
  background-color: #f7faf0;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
}

.App-header {
  background-color: #61b041;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.App-body {
  text-align: left;
  padding: 20px 50px 20px 50px;
  margin-bottom: 100px;
}

.App-header a {
  color: white;
}

.App-header a:hover {
  color: #f7faf0;
}

h1 {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
}

h6 {
  margin-left: 50px !important;
}

.button-toolbar {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
}

.dropdown button {
  background-color: #61b041;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 135px;
  margin-right: 10px;
}

.card {
  margin: 40px;
  box-shadow: 4px 4px 4px #dee8c8;
}

.star {
  max-width: 30px;
  max-height: 30px;
}

.logo {
  max-width: 80px;
}

.App-footer {
  background-color: #61b041;
  color: white;
  padding: 20px;
}